@import '../../../style/scss/CommonLayout';

.markDownView{
  line-height: 1.5em;
  p, ol, ul, dl {
    margin-bottom: 1em !important;;
  }

  li{
    display: list-item;
    text-align: -webkit-match-parent;
  }

  pre {
    border: none;
    margin-bottom: 1em;
    code{
      border-radius: 8px;
      padding: 1em;
    }
  }

  iframe, img, embed, object, video {
    max-width: 100%;
  }

  blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
    @media screen and (max-width: $phone-width){
      font-size: 1rem;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0
  }

  td,
  th {
    padding: 0
  }

  p,
  ol,
  ul,
  dl
   {
    line-height: 1.5;
    margin-bottom: 1em;
  }


  li p {
    display: inline
  }

  ul>li,
  li>ul,
  li>ol {
    margin-bottom: 0;
    margin-left: 1em
  }

  ol, ul {
    list-style-position: inside;
    list-style-type: disc;
  }

  p, li {
    @media screen and (max-width: $phone-width){
      font-size: 1rem;
    }
  }

  hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #fff;
    margin: 1em 0
  }

  a {
    color: #507492;
    text-decoration: none
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.3;
     margin:0.67em 0;
  }

  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: #383838
  }

  h1 {
    font-size: 2.5em;
    @media screen and (max-width: $phone-width){
      font-size: 2em;
    }
  }

  h2 {
    font-size: 2em;
    @media screen and (max-width: $phone-width){
      font-size: 1.5em;
    }
  }

  h3 {
    font-size: 1.5em;
    @media screen and (max-width: $phone-width){
      font-size: 1em;
    }
  }

  h4 {
    font-size: 1.15em;
    @media screen and (max-width: $phone-width){
      font-size: 0.65em;
    }
  }


  tr {
    border-top: 1px solid #c6cbd1;
    background: #fff;
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }

  table tr:nth-child(2n) {
    background: #f6f8fa;
  }
}