
.markDownView{
  line-height: 1.5em;
  p, ol, ul, dl {
    margin-bottom: 1em !important;;
  }

  li{
    display: list-item;
    text-align: -webkit-match-parent;
  }

  pre {
    border: 1px solid #ccc;
  }

  blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
  }

  tr {
    border-top: 1px solid #c6cbd1;
    background: #fff;
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }

  table tr:nth-child(2n) {
    background: #f6f8fa;
  }
}