@import '../../../../style/scss/CommonUtil';

.markDownEditer {
  width: 100%;
  display: inline-block;
  height: 75%;
  border: none;
  resize: none;
  overflow-y: scroll;
}
.writeTitleArea{
  height: 60px;
}
.writeTitle{
  float: left;
  border: none;
  font-size: 24px;
  margin-bottom: 20px;
}

.imageInsertBtn{
  float: right;
  cursor: pointer;
  color: $main-theme-color;
  border: 1px solid $main-theme-color;
  border-radius: 3px;
  padding: 8px;
}

.writeTopArea{
  text-align: left;
  margin-bottom: 20px;
}

.author{
  border-radius: 50%;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.authorName{
  color: #5b5e6d;
  font-weight: bold;
}