
.markDownEditer {
  width: 100%;
  display: inline-block;
  height: 100%;
  border: none;
  resize: none;
  overflow-y: scroll;
}

.writeTitle{
  float: left;
  border: none;
  font-size: 24px;
  margin-bottom: 20px;
}

.imageInsertBtn{
  float: right;

}