.footer{
  padding: 38px 0;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, .1);
  color: #ff2d60;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 1.5;
}