$blueColor: #78ccdd;

body{
  background-color: #e8e8e8;
}

.tag{
  background-color: $blueColor;
  color: white;
  width: 200px;
  height: 50px;
  border: none;
  margin: 15px;
  border-radius: 3px;

}

.customTag{
  color: $blueColor;
  button{
    color: purple;
    width: 200px;
    height: 100px;
    border: none;
  }
}

.linkTag{
  color: $blueColor;
  &:hover{
    color: rebeccapurple;
  }
}
