@import '../../../../style/scss/CommonUtil';

$margin-bottom: 15px;

.postItem{
  text-align: left;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  border-bottom: 2px solid #eeeeee;
}

.title{
  color: $title-font-color;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: $margin-bottom;
  cursor: pointer;
}

.content{
  margin-bottom: $margin-bottom;
  cursor: pointer;
  font-size: 17px;
  color: #585858;
}

.meta{
  color: $side-font-gray-color;
  font-size: 13px;
  margin-right: 5px;
}

.separator{
  font-size: 13px;
  color: #ebebeb;
  margin-right: 5px;
}

.categoryLabel{
  color: $main-theme-color !important;
  margin-right: 10px !important;
}