@import '../../../style/scss/CommonUtil';
@import '../../../style/scss/CommonLayout';


.tag {
  background-color: #78ccdd;
  color: white;
  width: 200px;
  height: 50px;
  border: none;
  margin: 15px;
  border-radius: 3px;

}

.contentArea{
  background-color: $white-color !important;
  width: 100%;
  height: $main-content-height;
  text-align: center;
}